@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';


/* Wrapper */

	#wrapper {
		opacity: 1 !important;
	}

/* Overlay */

	#overlay {
		opacity: 1 !important;
	}

/* Header */

	#header {
		opacity: 1 !important;

		nav {
			li {
				opacity: 1 !important;
			}
		}

	}

	
	/* Banner */
	
		#banner {
			body.is-preload & {
				&:after {
					opacity: 0.85;
				}
	
				> .inner {
					@include vendor('filter', 'none');
					@include vendor('transform', 'none');
					opacity: 1;
				}
			}
		}